<div class="row m-0">
  <mat-card
    class="col text-center login-card d-flex flex-column justify-content-center"
  >
    <div class="d-flex flex-column mx-5 login-content">
      <h1 class="logo">Humble Kanban</h1>
      <form
        class="mt-5 d-flex flex-column"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <mat-form-field appearance="outline" class="my-2" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input matInput type="email" required formControlName="email" />
          <mat-error *ngIf="loginForm.controls.email.invalid">
            {{ getEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="my-2" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            required
            minlength="8"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.controls.password.invalid">
            {{ getPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
      <div class="mt-5 d-flex flex-column">
        <a mat-button color="primary">Forgot password?</a>
        <mat-divider class="my-2"></mat-divider>
        <button class="mt-2" mat-raised-button color="accent">
          Create account
        </button>
      </div>
    </div>
  </mat-card>
  <div class="col-lg-8 d-none d-lg-flex splash"></div>
</div>
