# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/source/client-app/dist
/source/client-app/tmp
/source/client-app/out-tsc
/source/client-app/bazel-out

# Node
**/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
source/client-app/.vscode/*
!source/client-app/.vscode/settings.json
!source/client-app/.vscode/tasks.json
!source/client-app/.vscode/launch.json
!source/client-app/.vscode/extensions.json
source/client-app/.history/*

# Miscellaneous
**/.angular/cache
.sass-cache/

# System files
.DS_Store
Thumbs.db

# python packages
env/

#cpython files
*.pyc
source/services/.env
