$blue-palette: (
  50: #e7e7f3,
  100: #c3c3e3,
  200: #9d9ccf,
  300: #7776bc,
  400: #5d59ae,
  500: #443c9f,
  600: #3e3496,
  700: #362a8b,
  800: #2f207f,
  900: #220c6a,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(255, 255, 255, 0.87),
    400: rgba(255, 255, 255, 0.87),
    500: rgba(255, 255, 255, 0.87),
    600: rgba(255, 255, 255, 0.87),
    700: rgba(255, 255, 255, 0.87),
    800: rgba(255, 255, 255, 0.87),
    900: rgba(255, 255, 255, 0.87),
  ),
);

$yellow-palette: (
  50: #fffbdb,
  100: #fdf3b2,
  200: #f9eb86,
  300: #f5e25a,
  400: #f3dd35,
  500: #f1d800,
  600: #f0c500,
  700: #efad00,
  800: #ed9500,
  900: #ed9500,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    600: rgba(0, 0, 0, 0.87),
    700: rgba(0, 0, 0, 0.87),
    800: rgba(0, 0, 0, 0.87),
    900: rgba(0, 0, 0, 0.87),
  ),
);
